DATABASE_URL="postgresql://postgres:postgres@localhost:5432/gamereason?schema=public"
APP_PROTOCOL=http
APP_DOMAIN=localhost
AUTH_TOKEN_SECRET=replace-with-your-long-random-secret
POSTGRES_BIND=127.0.0.1
POSTGRES_PORT=5432
CLIENT_HTTP_BIND=0.0.0.0
CLIENT_HTTP_PORT=80
CLIENT_HTTPS_BIND=0.0.0.0
CLIENT_HTTPS_PORT=443
