(game_reason_app) {
	root * /srv
	encode zstd gzip

	handle /api/* {
		reverse_proxy server:3001
	}

	handle {
		try_files {path} /index.html
		file_server
	}
}

http://localhost, http://127.0.0.1 {
	import game_reason_app
}

{$APP_PROTOCOL:http}://{$APP_DOMAIN:localhost} {
	import game_reason_app
}
